<div class="productos-container">



<mat-card class="card-productos theme-card">

  <!-- HEADER -->
  <mat-card-header>
    <mat-card-title>
      {{ modoFormulario === 'agregar' ? 'Agregar producto' : 'Editar producto' }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <form [formGroup]="formAgregar" (ngSubmit)="onSubmit()">

      <!-- GRID -->
      <div class="form-grid">

        <!-- Nombre -->
        <mat-form-field appearance="outline">
          <mat-label>Nombre del producto</mat-label>
          <input matInput formControlName="nombre" placeholder="Ej: Camiseta Oversize">
          <mat-error *ngIf="formAgregar.get('nombre')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Categoría -->
        <mat-form-field appearance="outline">
          <mat-label>Categoría</mat-label>
          <mat-select formControlName="categoria">
            <mat-option *ngFor="let cat of categorias" [value]="cat.id">
              {{ cat.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formAgregar.get('categoria')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Talla -->
        <mat-form-field appearance="outline">
          <mat-label>Talla</mat-label>
          <mat-select formControlName="talla">
            <mat-option *ngFor="let t of tallas" [value]="t">
              {{ t }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formAgregar.get('talla')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Color -->
        <mat-form-field appearance="outline">
          <mat-label>Color</mat-label>
          <input matInput formControlName="color" placeholder="Ej: Negro">
          <mat-error *ngIf="formAgregar.get('color')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Cantidad -->
        <mat-form-field appearance="outline">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" formControlName="cantidad">
          <mat-error *ngIf="formAgregar.get('cantidad')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Precio compra -->
        <mat-form-field appearance="outline">
          <mat-label>Precio compra</mat-label>
          <input matInput type="number" formControlName="precioCompra">
          <mat-error *ngIf="formAgregar.get('precioCompra')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Precio venta -->
        <mat-form-field appearance="outline">
          <mat-label>Precio venta</mat-label>
          <input matInput type="number" formControlName="precioVenta">
          <mat-error *ngIf="formAgregar.get('precioVenta')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

        <!-- Proveedor -->
        <mat-form-field appearance="outline">
          <mat-label>Proveedor</mat-label>
          <mat-select formControlName="proveedor">
            <mat-option *ngFor="let p of proveedores" [value]="p.id">
              {{ p.nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formAgregar.get('proveedor')?.hasError('required')">
            Campo obligatorio
          </mat-error>
        </mat-form-field>

      </div>
      

      <!-- BOTONES -->
      <div class="acciones">
        <button mat-flat-button class="guardar" color="primary" type="submit" >
          Guardar
        </button>
        <button mat-stroked-button type="button" routerLink="/productos">
          Cancelar
        </button>
      </div>

    </form>

  </mat-card-content>

</mat-card>
</div>